{% extends "base.html" %}
{% block body %}
  <div class="p-5 rounded mx-auto" style="width: 768px; max-width: 90%; background-color: #fffc;">
    <h1 class="text-center mb-4">About Fridge Raider</h1>
    <h3>What is Fridge Raider?</h3>
    <p class="lead">
      Fridge Raider is designed to allow you to search for different recipes using the ingredients that you have at home, in your fridge.
      It does all the thinking for you! Whether you want something vegetarian, vegan or gluten-free, Italian or Greek, it can all be accessed with one simple click of a button.
    </p>
    <h3>Who is Fridge Raider for?</h3>
    <p class="lead">
      The aim of our app is to help individuals with a fast-paced lifestyle search for quick and easy recipes, hassle-free!
      If you’re a student, working parent, or always on the go and don’t have time to think about what’s for dinner, we’ve got you covered.
    </p>
    <h3>Who are the team behind Fridge Raider?</h3>
    <p class="lead">
      Fridge Raider was created as a study project by four students on Code First Girls' CFGdegree programme: Rati, Lujein, Asha and Sri.
    </p>
  </div>
{% endblock %}
