{% extends "base.html" %}
{% block body %}
  <div class="p-5 rounded mx-auto" style="width: 768px; max-width: 90%; background-color: #fffc;">
    <h1 class="text-center mb-4">Frequently Asked Questions</h1>
    <h3>Why do I need to create an account?</h3>
    <p class="lead">
      To gain full access to features of the app such as personalised fridges and favourite recipes, you will need to create an account. It’s quick and easy.
      It is still possible to use basic features such as recipe search without creating an account.
    </p>
    <h3>How do I save my favourite recipes to come back to them later?</h3>
    <p class="lead">
      Once logged in, all you need to do is click on the star button next to a particular recipe to save it.
      You can see your favourite recipes in the "My Favourites" tab when you log into your account.
    </p>
    <h3>Do you offer recipes for different dietary requirements?</h3>
    <p class="lead">
      Absolutely! Simply select the dietary options you require, and you will see only the relevant recipes.
    </p>
  </div>
{% endblock %}
