{% extends "base.html" %}
{% block body %}
  <div class="p-5 rounded mx-auto text-center" style="width: 768px; max-width: 90%; background-color: #fffc;">
    <h1 class="text-center mb-4">Your Favourite Recipes</h1>
    <p class="lead">View and manage your favourite recipes here.</p>
    <div class="row justify-content-center">
      {% for recipe in recipes %}
        <div class="col col-sm-6 col-md-4">
          <a href="{{ recipe.recipe_url }}" target="_blank" class="link-dark text-decoration-none">
            <div class="card" style="position: relative;">
              <form method="post" action="/favourites/remove" class="p-1" style="position: absolute; top: 0; right: 0;">
                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                <button type="submit" class="btn btn-info rounded-circle shadow border-primary p-1" style="width: 40px; height: 40px;"><i class="fa-solid fa-trash"></i></button>
              </form>
              <img src="{{ recipe.image_url }}">
              <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.recipe_source }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
