{% extends "base.html" %}
{% block body %}
  <div class="p-5 rounded mx-auto text-center" style="width: 768px; max-width: 90%; background-color: #fffc;">
    <h1>Welcome to Fridge Raider.</h1>
    <p class="lead">Search recipes based on the contents of your fridge, and save your favourites.</p>
    <figure>
      <blockquote class="blockquote">
        <p><i class="fa-solid fa-quote-left small"></i> A real game-changer <i class="fa-solid fa-quote-right small"></i></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Anonymous
      </figcaption>
    </figure>
    <a role="button" href="/login" class="btn btn-info">Let's get started</a>
  </div>
{% endblock %}
