{% extends "base.html" %}
{% block body %}
  <div class="p-5 rounded mx-auto text-center" style="width: 768px; max-width: 90%; background-color: #fffc;">
    <h1 class="text-center mb-4">Search Recipes</h1>
    <p class="lead">Here, you can preview our recipes without needing an account.</p>
    <p>For extended features like the ability to choose dietary requirements or save a favourite recipe, please <a href="/login" class="link-primary">log in</a>.</p>
    <form method="get" class="mb-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Ingredient(s)" name="ingredient" value="{{ ingredient }}">
        <button class="btn btn-info" type="submit">Search</button>
      </div>
    </form>
    <div class="row justify-content-center">
      {% if recipes is not none %}
        <h3 class="mb-3">Results</h3>
        {% for recipe in recipes %}
          <div class="col col-sm-6 col-md-4">
            <a href="{{ recipe.recipe.url }}" target="_blank" class="link-dark text-decoration-none">
              <div class="card mb-3">
                <img src="{{ recipe.recipe.image }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.recipe.label }}</h5>
                  <p class="card-text">{{ recipe.recipe.source }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
        {% if recipes|length == 0 %}
          <p>No results found.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
